.area1 { 
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 35rem;
    width: 40rem;
    border-radius: 2%;
    padding: 20px;
    margin: 20px;
    left: 10rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    opacity: 100%;
    text-align: left;
    font-size: 13px
}

.area2 { 
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 25rem;
    width: 25rem;
    border-radius: 2%;
    padding: 10px;
    margin: 10px;
    left: 55rem;
    right: 0rem;
    bottom: 36rem;
    opacity: 100%;
}

.smallchartsize {
    height: 9rem;
    width: 10rem;
    padding: 2px;
}

.headerstyle {
    color: rgb(94, 178, 176);
    font-weight: bold;
}

.navbarstyle {
    color: rgb(94, 178, 176);

}

.tag {
    background-color: rgb(94, 178, 176);
    height: 4rem;
    padding: 0px;
    margin: 0px;
}